@font-face {
  font-family: "Cairo-Regular";
  src: local("Cairo-Regular"),
    url("./fonts/Cairo-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Cairo-Bold";
  src: local("Cairo-Bold"), url("./fonts/Cairo-Bold.ttf") format("truetype");
}

body {
  font-family: "Cairo-Regular";
}

.App {
  padding: 20px 100px;
}

// section {
//   text-align: right;
// }

.navbar {
  // position: fixed;
  padding: 0px;
  display: flex;
  width: 100%;
  // flex-direction: row-reverse;
  justify-content: space-around;
  border-bottom: 1px solid rgb(231, 231, 231);

  .nav-first {
    /* margin-left: 20px; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    // width: 20%;
    svg {
      // top: 100px;
    }
  }
  .nav-mid {
    display: flex;
    // flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 50%;
  }

  .nav-last {
    display: flex;
    // flex-direction: row-reverse;
    width: 25%;
    justify-content: space-evenly;
    .switch-lang {
      color: red;
      background: transparent;
      border: 0px;
      cursor: pointer;
      padding: 0px 10px;
      border-radius: 5px;
    }

    .dropdown {
      border-radius: 8px;
      // float: left;
      // overflow: hidden;
    }

    /* Dropdown button */
    // .dropdown .dropbtn {
    //   font-size: 16px;
    //   border: none;
    //   outline: none;
    //   color: red;
    //   padding: 14px 16px;
    //   background-color: inherit;
    //   font-family: inherit; /* Important for vertical align on mobile phones */
    //   margin: 0; /* Important for vertical align on mobile phones */
    // }

    /* Add a red background color to navbar links on hover */
    .navbar h4:hover,
    .dropdown:hover .dropbtn {
      background-color: white;
    }

    /* Dropdown content (hidden by default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 120px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content h4 {
      float: none;
      color: red;
      padding: 0px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
      cursor: pointer;
    }

    /* Add a grey background color to dropdown links on hover */
    .dropdown-content h4:hover {
      background-color: red;
      color: white;
      // margin: 0px;
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
      display: block;
      left: 5%;
      border-radius: 6px;
    }
  }
}
.status {
  display: flex;
  // flex-direction: row-reverse;
  justify-content: space-around;
  border: 1px solid rgb(231, 231, 231);
  padding: 10px 20px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom: 0px;
  margin-top: 30px;
}

.bar {
  border: 1px solid rgb(231, 231, 231);
  padding: 10px 25px 50px 25px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  &.en {
    ._2Jtxm::before {
      right: 50%;
      transition: background-position 0ms ease-in-out;
    }
  }
  ._2Jtxm::before {
    right: -50%;
    transition: background-position 0ms ease-in-out;
  }

  ._2_g61 {
    display: none;
  }

  ._3uApM {
    display: none;
  }
}

.details-section {
  display: flex;
  // flex-direction: row-reverse;
  // justify-content: flex-end;
  // width: 100%;
  // padding: 10px 50px;
  justify-content: space-between;
}
.details-table {
  width: 62%;
  // float: right;
  display: flex;
  flex-direction: column;

  // table {
  //   border: 1px solid rgb(231, 231, 231);
  //   padding: 0px 20px;
  //   border-radius: 10px;
  //   border-spacing: 0px;
  //   thead tr td {
  //     border: 1px solid rgb(231, 231, 231);
  //   }
  //   tbody tr td {
  //     border: 1px solid rgb(231, 231, 231);
  //     // padding: 0px 50px;
  //     // border-radius: 10px;
  //   }
  // }
  table {
    // border-collapse: collapse;
    border-spacing: 0px;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 10px;
    // display: block;
    thead {
      background: rgba(231, 231, 231, 0.3);
    }
  }
  // tr::first {
  //   border: none;
  // }
  th {
    border-top: 1px solid rgb(231, 231, 231);
    border-bottom: 1px solid rgb(231, 231, 231);
    padding: 10px 20px;
  }
  td {
    text-align: center;
    border-top: 1px solid rgb(231, 231, 231);
    border-bottom: 1px solid rgb(231, 231, 231);
    padding: 10px 20px;
  }
}
// h4 {
//   float: right;
// }
.address-contact {
  display: flex;
  flex-direction: column;
  width: 35%;
  // margin-right: 15px;
  .address {
    border: 1px solid rgb(231, 231, 231);
    border-radius: 10px;
    background-color: rgba(231, 231, 231, 0.3);
    padding: 15px 15px;
    margin-bottom: 15px;
  }
  .contact-us {
    display: flex;
    justify-content: space-around;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 10px;
    padding: 10px 15px;
    // flex-direction: row-reverse;
    .contact-img {
      margin-left: 15px;
    }
  }
}

.contact-btn {
  display: flex;
  flex-direction: column;

  button {
    background-color: red;
    color: white;
    border-radius: 8px;
    border: transparent;
    padding: 8px 15px;
    cursor: pointer;
  }
}
