body {
  font-family: "Cairo";
}

.navbar {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  justify-content: space-around;

  .nav-first {
    /* margin-left: 20px; */
  }
  .nav-mid {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .nav-last {
    display: flex;
    flex-direction: row-reverse;
  }
  .switch-lang {
    color: red;
    background: transparent;
    border: 0px;
  }
}
.status {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.details-section {
  display: flex;
  flex-direction: row-reverse;
}
